In [1]:
import pandas as pd

#  AI LAB 2 TASK 2 Define the index values (names) and subject names
index_values = ['Ali', 'Amir', 'Kamran', 'Samia', 'Hina']
subject_names = ['Math', 'Science', 'English', 'Computer']
# Generate some example data for the DataFrame
data = [
    [85, 78, 90, 88], 
    [92, 85, 79, 95], 
    [70, 80, 88, 85], 
    [95, 92, 91, 89],  
    [80, 75, 82, 90]   
]
# Create the DataFrame
df = pd.DataFrame(data, index=index_values, columns=subject_names)
# Display the DataFrame
print(df)

        Math  Science  English  Computer
Ali       85       78       90        88
Amir      92       85       79        95
Kamran    70       80       88        85
Samia     95       92       91        89
Hina      80       75       82        90

In [10]:
import pandas as pd
import numpy as np

# AI LAB 2 TASK 1 Create random data for two sheets
data_sheet1 = {
    'Name': ['Ali', 'Amir', 'Kamran', 'Sara', 'Zara'],
    'Score': np.random.randint(50, 100, size=5)
}

data_sheet2 = {
    'Subject': ['Math', 'Physics', 'Chemistry', 'Biology', 'English'],
    'Credits': np.random.randint(2, 5, size=5)
}

# Create DataFrames to simulate sheets
sheet1 = pd.DataFrame(data_sheet1)
sheet2 = pd.DataFrame(data_sheet2)

# Print both "sheets"
print("Sheet 1:")
print(sheet1)
print("\nSheet 2:")
print(sheet2)

Sheet 1:
     Name  Score
0     Ali     98
1    Amir     75
2  Kamran     50
3    Sara     82
4    Zara     97

Sheet 2:
     Subject  Credits
0       Math        4
1    Physics        3
2  Chemistry        4
3    Biology        4
4    English        2

In [14]:
import pandas as pd
import numpy as np

# AI LAB 2 TASK 4 Create a sample DataFrame
df = pd.DataFrame({
    'A': np.random.rand(10),
    'B': np.random.rand(10),
    'C': np.random.rand(10)
})

# Print the first two columns
print(df.iloc[:, :2])

          A         B
0  0.864879  0.344959
1  0.572730  0.844488
2  0.784430  0.946649
3  0.134358  0.328680
4  0.606290  0.213912
5  0.150182  0.097402
6  0.246718  0.993901
7  0.878599  0.950046
8  0.886787  0.550819
9  0.090257  0.222981

In [3]:
import pandas as pd
import random

# AI LAB 2 TASK 5 Define the number of employees
num_employees = 100

# Generate dummy data
names = [f'Employee_{i}' for i in range(1, num_employees + 1)]
ages = [random.randint(20, 60) for _ in range(num_employees)]
genders = [random.choice(['Male', 'Female', None]) for _ in range(num_employees)]  # None represents missing values

# Create a DataFrame
data = {
    'Name': names,
    'Age': ages,
    'Gender': genders
}
df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
csv_file_path = 'employees.csv'  # Specify your desired file path
df.to_csv(csv_file_path, index=False)

# Display the first few rows of the DataFrame
print(df.head())

         Name  Age  Gender
0  Employee_1   50    None
1  Employee_2   22    None
2  Employee_3   25  Female
3  Employee_4   53    Male
4  Employee_5   34  Female

In [ ]:
import pandas as pd
import numpy as np

# Create a DataFrame with dummy employee data for 10 employees
data = {
    'EmployeeID': range(1, 11),  # 10 employees
    'Name': [f'Employee {i}' for i in range(1, 11)],
    'Age': np.random.randint(22, 60, size=10),  # Random ages between 22 and 60
    'Gender': [np.nan if i % 5 == 0 else np.random.choice(['Male', 'Female']) for i in range(10)]  # Some null values
}

df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
df.to_csv('employees.csv', index=False)

# Display the DataFrame
print(df)

In [17]:
import pandas as pd
import numpy as np

# Create a sample DataFrame
df = pd.DataFrame({
    'A': np.random.rand(10),
    'B': np.random.rand(10),
    'C': np.random.rand(10)
})

# Skip the first two rows and print
print(df.iloc[2:])

          A         B         C
0  0.773484  0.464484  0.533945
1  0.402749  0.261501  0.336103

In [5]:
import pandas as pd
import numpy as np

# Create a DataFrame with dummy employee data
data = {
    'EmployeeID': range(1, 11),
    'Name': [f'Employee {i}' for i in range(1, 11)],
    'Age': np.random.randint(22, 60, size=10),  # Random ages between 22 and 60
    'Salary': np.random.randint(30000, 80000, size=10)  # Random salaries between 30,000 and 80,000
}

df = pd.DataFrame(data)

# Display the original data
print("Original DataFrame:")
print(df)

# Min-Max Normalization function
def min_max_normalize(column):
    return (column - column.min()) / (column.max() - column.min())

# Apply Min-Max normalization to 'Age' and 'Salary'
df['Age_Normalized'] = min_max_normalize(df['Age'])
df['Salary_Normalized'] = min_max_normalize(df['Salary'])

# Display the normalized DataFrame
print("\nNormalized DataFrame:")
print(df[['Age', 'Age_Normalized', 'Salary', 'Salary_Normalized']])

# Verification using the formula
print("\nVerification of Normalization:")
for index, row in df.iterrows():
    age_normalized = (row['Age'] - df['Age'].min()) / (df['Age'].max() - df['Age'].min())
    salary_normalized = (row['Salary'] - df['Salary'].min()) / (df['Salary'].max() - df['Salary'].min())
    print(f"Employee {row['Name']} - Age: {age_normalized:.4f}, Salary: {salary_normalized:.4f}")

Original DataFrame:
   EmployeeID         Name  Age  Salary
0           1   Employee 1   51   30469
1           2   Employee 2   51   34493
2           3   Employee 3   58   31997
3           4   Employee 4   52   37733
4           5   Employee 5   58   56465
5           6   Employee 6   49   47984
6           7   Employee 7   49   37508
7           8   Employee 8   30   67470
8           9   Employee 9   47   74127
9          10  Employee 10   55   74054

Normalized DataFrame:
   Age  Age_Normalized  Salary  Salary_Normalized
0   51        0.750000   30469           0.000000
1   51        0.750000   34493           0.092171
2   58        1.000000   31997           0.034999
3   52        0.785714   37733           0.166384
4   58        1.000000   56465           0.595446
5   49        0.678571   47984           0.401186
6   49        0.678571   37508           0.161230
7   30        0.000000   67470           0.847519
8   47        0.607143   74127           1.000000
9   55        0.892857   74054           0.998328

Verification of Normalization:
Employee Employee 1 - Age: 0.7500, Salary: 0.0000
Employee Employee 2 - Age: 0.7500, Salary: 0.0922
Employee Employee 3 - Age: 1.0000, Salary: 0.0350
Employee Employee 4 - Age: 0.7857, Salary: 0.1664
Employee Employee 5 - Age: 1.0000, Salary: 0.5954
Employee Employee 6 - Age: 0.6786, Salary: 0.4012
Employee Employee 7 - Age: 0.6786, Salary: 0.1612
Employee Employee 8 - Age: 0.0000, Salary: 0.8475
Employee Employee 9 - Age: 0.6071, Salary: 1.0000
Employee Employee 10 - Age: 0.8929, Salary: 0.9983

In [6]:
import pandas as pd

# AI LAB2 TASK 7
data = {
    'Age': [25, 36, 30, 27, 38, 42],
    'Salary': [42000, 50000, 45000, 43000, 51000, 62000]
}

df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Standardization function
def standardize(column):
    mean = column.mean()
    std_dev = column.std()
    return (column - mean) / std_dev

# Apply standardization to 'Age' and 'Salary'
df['Age_Standardized'] = standardize(df['Age'])
df['Salary_Standardized'] = standardize(df['Salary'])

# Display the standardized DataFrame
print("\nStandardized DataFrame:")
print(df[['Age', 'Age_Standardized', 'Salary', 'Salary_Standardized']])

# Verification using the formula
print("\nVerification of Standardization:")
for index, row in df.iterrows():
    age_standardized = (row['Age'] - df['Age'].mean()) / df['Age'].std()
    salary_standardized = (row['Salary'] - df['Salary'].mean()) / df['Salary'].std()
    print(f"Row {index + 1} - Age: {age_standardized:.4f}, Salary: {salary_standardized:.4f}")

Original DataFrame:
   Age  Salary
0   25   42000
1   36   50000
2   30   45000
3   27   43000
4   38   51000
5   42   62000

Standardized DataFrame:
   Age  Age_Standardized  Salary  Salary_Standardized
0   25         -1.195229   42000            -0.921686
1   36          0.448211   50000             0.157361
2   30         -0.448211   45000            -0.517043
3   27         -0.896421   43000            -0.786805
4   38          0.747018   51000             0.292242
5   42          1.344632   62000             1.775931

Verification of Standardization:
Row 1 - Age: -1.1952, Salary: -0.9217
Row 2 - Age: 0.4482, Salary: 0.1574
Row 3 - Age: -0.4482, Salary: -0.5170
Row 4 - Age: -0.8964, Salary: -0.7868
Row 5 - Age: 0.7470, Salary: 0.2922
Row 6 - Age: 1.3446, Salary: 1.7759

In [7]:
import pandas as pd
import numpy as np

#AI LAB 2 TASK 8
data = {
    'First Score': [100, 90, np.nan, 95],
    'Second Score': [30, 45, 56, np.nan],
    'Third Score': [np.nan, 40, 80, 98]
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Interpolate missing values using backward interpolation
df_interpolated = df.interpolate(method='bfill')

# Display the DataFrame after interpolation
print("\nDataFrame after Backward Interpolation:")
print(df_interpolated)

Original DataFrame:
   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

DataFrame after Backward Interpolation:
   First Score  Second Score  Third Score
0        100.0          30.0         40.0
1         90.0          45.0         40.0
2         95.0          56.0         80.0
3         95.0           NaN         98.0

C:\Users\SED\AppData\Local\Temp\ipykernel_7352\2966302086.py:19: FutureWarning: DataFrame.interpolate with method=bfill is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_interpolated = df.interpolate(method='bfill')